@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@{
    Layout = "master.cshtml";
}



@* the fun starts here *@
<section class="section swiper-container swiper-slider swiper-slider-modern" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="true" data-slide-effect="fade">
    <div class="swiper-wrapper text-left">
        <!-- slide 1 start -->
        <div class="swiper-slide" data-slide-bg="/assets/images/banner/banner-1.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                            <div class="slider-modern-box">
                                <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">ABDA Expressway</span><span data-caption-animate="slideInUp" data-caption-delay="0"> Interior</span></h2>
                                <p data-caption-animate="fadeInRight" data-caption-delay="400">Our Highly experienced interior designers understand your requirements and vision for your house.</p>
                                <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInLeft" data-caption-delay="400">Contact Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slide 2 start -->
        <div class="swiper-slide" data-slide-bg="/assets/images/banner/banner-2.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
                            <div class="slider-modern-box">
                                <h2 class="oh slider-modern-title"><span data-caption-animate="slideInLeft" data-caption-delay="0">Turnkey</span><span data-caption-animate="slideInUp" data-caption-delay="0">Projects</span></h2>
                                <p data-caption-animate="fadeInRight" data-caption-delay="400">ABDA Expressway Interiors Understands Your Your Style & Your Taste. Now Easy With ABDA Expressway</p>
                                <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInLeft" data-caption-delay="400">Contact Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slide 3 start -->
        <div class="swiper-slide" data-slide-bg="/assets/images/banner/banner-3.jpg">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-11 col-sm-8 col-md-7 col-lg-5 col-xxl-4">
                            <div class="slider-modern-box">
                                <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">Own  </span><span data-caption-animate="slideInLeft" data-caption-delay="0">Manufacturing</span></h2>
                                <p data-caption-animate="fadeInRight" data-caption-delay="400">ABDA use high standard quality of material which checked with highly qualified team before it goes into production. This practice allow us to become best class interior designers in Delhi/NCR. </p>
                                <div class="oh button-wrap"><a class="button button-default-outline-2 button-ujarak" href="shop.html" data-caption-animate="slideInUp" data-caption-delay="400">Contact Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Swiper Navigation-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination swiper-pagination-style-2"></div>
</section>
<!-- slider section end -->
@*@Html.GetGridHtml(children, "homeLayout");*@

<section class="section section-sm bg-default bg_second_cl">
    <div class="container">
        <div class="headingTitle">
            <h1>Our <span> Services</span></h1>
            <p>Expressway is an integrated full service architectural and interior solutions company. Expressway has deep capabilities to conceptualize, execute and manage an interior project on turnkey basis – from conceptualization to execution.</p>
        </div>
        <div class="row row-30 justify-content-center">
            <div class="col-md-12 col-lg-8">
                <div class="oh">
                    <article class="box-sportlight">
                        <a class="box-sportlight-figure" href="#"><img src="/assets/images/offer/master bedroom.jpg" style="height:300px" alt="" width="770" height="332" /></a>
                        <div class="box-sportlight-caption">
                            <h5 class="box-sportlight-title"><a href="#">Master Bedroom</a></h5>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="box-sportlight box-sportlight-sm">
                        <a class="box-sportlight-figure" href="#"><img src="/assets/images/offer/living room.jpg" style="height:300px" alt="" width="370" height="339" /></a>
                        <div class="box-sportlight-caption">
                            <h5 class="box-sportlight-title"><a href="#">Living Room</a></h5>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="box-sportlight box-sportlight-sm">
                        <a class="box-sportlight-figure" href="#"><img src="/assets/images/offer/bar.jpg" alt="" width="370" height="332" /></a>
                        <div class="box-sportlight-caption">
                            <h5 class="box-sportlight-title"><a href="#">Bar</a></h5>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh">
                    <article class="box-sportlight">
                        <a class="box-sportlight-figure" href="#"><img src="/assets/images/offer/moduler kitchen.jpg" alt="" width="370" height="332" /></a>
                        <div class="box-sportlight-caption">
                            <h5 class="box-sportlight-title"><a href="#">Moduler Kichen</a></h5>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="box-sportlight box-sportlight-sm">
                        <a class="box-sportlight-figure" href="#"><img src="/assets/images/offer/kids-room.jpg" alt="" width="370" height="332" /></a>
                        <div class="box-sportlight-caption">
                            <h5 class="box-sportlight-title"><a href="#">Kids Room</a></h5>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Offer section end -->
<!-- Projects section start -->
<section class="section section-sm bg-default">
    <div class="container">
        <div class="headingTitle">
            <h1>Best Interior <span>Projects</span></h1>
            <p>Interior Design & Decor Services by experienced Professionals at your doorstep.</p>
        </div>
        <div class="row row-30" data-lightgallery="group">
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="thumbnail thumbnail-mary thumbnail-sm">
                        <div class="thumbnail-mary-figure"><img src="/assets/images/products/bar/Bar-2.jpg" alt="" width="370" height="303" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="/assets/images/products/bar/Bar-2.jpg" data-lightgallery="item"><img src="/assets/images/products/bar/Bar-2.jpg" alt="" width="370" height="303" /></a>
                            <h5 class="thumbnail-mary-title"><a href="single-project.html"> <span>Bar</span></a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="thumbnail thumbnail-mary thumbnail-sm">
                        <div class="thumbnail-mary-figure"><img src="/assets/images/products/Bed Room/Bed-Room.jpg" alt="" width="370" height="303" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="/assets/images/products/Bed Room/Bed-Room.jpg" data-lightgallery="item"><img src="/assets/images/products/Bed Room/Bed-Room.jpg" alt="" width="370" height="303" /></a>
                            <h5 class="thumbnail-mary-title"><a href="single-project.html"><span>Master Bedroom</span></a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="thumbnail thumbnail-mary thumbnail-sm">
                        <div class="thumbnail-mary-figure"><img src="/assets/images/products/Kids Room/Kids-Room.jpg" alt="" width="370" height="303" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="/assets/images/products/Kids Room/Kids-Room.jpg" data-lightgallery="item"><img src="/assets/images/products/Kids Room/Kids-Room.jpg" alt="" width="370" height="303" /></a>
                            <h5 class="thumbnail-mary-title"><a href="single-project.html"><span>Kids Room</span></a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="thumbnail thumbnail-mary thumbnail-sm">
                        <div class="thumbnail-mary-figure"><img src="/assets/images/products/Living and Dinning/Dinning-Room.jpg" alt="" width="370" height="303" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="/assets/images/products/Living and Dinning/Dinning-Room.jpg" data-lightgallery="item"><img src="/assets/images/products/Living and Dinning/Dinning-Room.jpg" alt="" width="370" height="303" /></a>
                            <h5 class="thumbnail-mary-title"><a href="single-project.html"><span>Dinning Room</span></a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="thumbnail thumbnail-mary thumbnail-sm">
                        <div class="thumbnail-mary-figure"><img src="/assets/images/products/Living and Dinning/Living-Room.jpg" alt="" width="370" height="303" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="/assets/images/products/Living and Dinning/Living-Room.jpg" data-lightgallery="item"><img src="/assets/images/products/Living and Dinning/Living-Room.jpg" alt="" width="370" height="303" /></a>
                            <h5 class="thumbnail-mary-title"><a href="single-project.html"><span>Living Room</span></a></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">
                    <article class="thumbnail thumbnail-mary thumbnail-sm">
                        <div class="thumbnail-mary-figure"><img src="/assets/images/products/kitchen/Moduler-Kitchen.jpg" alt="" width="370" height="303" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="/assets/images/products/kitchen/Moduler-Kitchen.jpg" data-lightgallery="item"><img src="/assets/images/products/kitchen/Moduler-Kitchen.jpg" alt="" width="370" height="303" /></a>
                            <h5 class="thumbnail-mary-title"><a href="single-project.html"><span>Moduler Kitchen</span></a></h5>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Projects section end -->
<!-- call section start -->
@*<section class="section bg-default text-md-center">
        <div class="parallax-container" data-parallax-img="/assets/images/bg-cta-2.jpg">
            <div class="parallax-content section-sm context-dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-7">
                            <h3 class="oh font-weight-normal"><span class="d-inline-block">Get New & Amazing Design From Us!</span></h3>
                            <p class="text-spacing-75">You dream we create.Let's have an appointment with ABDA Expressway Interiors's expertise for regular updates please like our page..</p>
                            <a class="button button-secondary button-ujarak" href="shop.html">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- call section end -->
<!-- call section end -->
<!-- About us section start -->
<section class="section section-sm bg-default">
    <div class="container">
        <div class="headingTitle">
            <h1>About <span> us</span></h1>
            <p>ABDA Expressway Interiors is an integrated full service architectural and interior solutions company. Expressway has deep capabilities to conceptualize, execute and manage an interior project on turnkey basis – from conceptualization to execution, each specializing in different aspects of the project, form the backbone of the organization..</p>
        </div>
        <div class="row row-lg row-50 justify-content-center border-classic border-classic-2">
            <div class="col-sm-6 col-md-3">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">4</span><span class="icon counter-creative-icon fl-bigmug-line-trophy55"></span> </div>
                    <h6 class="counter-creative-title">Awards</h6>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">130</span><span class="symbol"></span><span class="icon counter-creative-icon fl-bigmug-line-cube29"></span> </div>
                    <h6 class="counter-creative-title">Projects</h6>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">130</span><span class="icon counter-creative-icon fl-bigmug-line-sun81"></span> </div>
                    <h6 class="counter-creative-title">Happy clients</h6>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">25</span><span class="icon counter-creative-icon fl-bigmug-line-user143"></span> </div>
                    <h6 class="counter-creative-title">Team members</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About us section end -->
<!-- What people Say-->
<section class="section section-sm bg_second_cl bg-default">
    <div class="container">
        <h3>What people Say</h3>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
            <!-- Quote Lisa-->
            <article class="quote-lisa">
                <div class="quote-lisa-body">
                    <a class="quote-lisa-figure" href="#"><img class="img-circles" src="/assets/images/resource/1.jpg" alt="" width="100" height="100" /></a>
                    <div class="quote-lisa-text">
                        <p class="q">Thanks to your company and the excellent service provided by your delightful employees, wonderful experience with young, enthusiastic team who is very updated with the current market trends. I really appreciate the way your team managing the customer expectations from the beginning to the last step. I would love to recommend your company to anyone who is looking for good real estate or interior design services.</p>
                    </div>
                    <h5 class="quote-lisa-cite"><a href="#">Pallavi Tyagi</a></h5>
                    <p class="quote-lisa-status">Client</p>
                </div>
            </article>
            <!-- Quote Lisa-->
            <article class="quote-lisa">
                <div class="quote-lisa-body">
                    <a class="quote-lisa-figure" href="#"><img class="img-circles" src="/assets/images/resource/2.jpg" alt="" width="100" height="100" /></a>
                    <div class="quote-lisa-text">
                        <p class="q">
                            My sincere and heartfelt thanks to Team ABDA for the hard work and creativity put in by all team members towards converting  our flat into the dream home that we always wanted. The work done is of good quality- sturdy and classy at the same time. Even the workers were sincere, courteous, talented and hardworking.
                            Would definitely recommend this creative and enterprising team to others.
                        </p>
                    </div>
                    <h5 class="quote-lisa-cite"><a href="#">Radhika Warty</a></h5>
                    <p class="quote-lisa-status">Client</p>
                </div>
            </article>
            <!-- Quote Lisa-->
            <article class="quote-lisa">
                <div class="quote-lisa-body">
                    <a class="quote-lisa-figure" href="#"><img class="img-circles" src="/assets/images/resource/3.jpg" alt="" width="100" height="100" /></a>
                    <div class="quote-lisa-text">
                        <p class="q">A group of experienced people who understands customization is a priority. A combination of meticulous design and robust infrastructure.  Also very updated about current trends in real estate and interior design.  Great experience of working with ABDA. We recommend them for interior projects.</p>
                    </div>
                    <h5 class="quote-lisa-cite"><a href="#">Indrani Guha</a></h5>
                    <p class="quote-lisa-status">Client</p>
                </div>
            </article>
            <article class="quote-lisa">
                <div class="quote-lisa-body">
                    <a class="quote-lisa-figure" href="#"><img class="img-circles" src="/assets/images/resource/3.jpg" alt="" width="100" height="100" /></a>
                    <div class="quote-lisa-text">
                        <p class="q">I love the work that ABDA team did in my office. They come up with new creative ideas for Homes and offices... They are great people to work with.</p>
                    </div>
                    <h5 class="quote-lisa-cite"><a href="#">Manish Kataria</a></h5>
                    <p class="quote-lisa-status">Client</p>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- What people say end -->
<!-- Team section start -->
<section class="section section-sm bg-default">
    <div class="container">
        <div class="headingTitle">
            <h1>Team of <span>professionals</span></h1>
            <p>Our dedicated team of professionals brings an informed perspective to each challenge, calling upon years of benefits experiences in a variety of businesses.</p>
        </div>
        <div class="row row-30">
            <div class="col-md-4 col-lg-4">
                <!-- Team Classic-->
                <article class="team-classic">
                    <a class="team-classic-figure" href="http://localhost:62500/our-team/Shivraj/"><img src="/assets/images/Team/shivraj.png" alt="" width="370" height="406" /></a>
                    <div class="team-classic-caption">
                        <h5 class="team-classic-name"><a href="#">Shivraj Bhatia</a></h5>
                        <p class="team-classic-status">Operations Head</p>
                    </div>
                </article>
            </div>

            <div class="col-md-4 col-lg-4">
                <!-- Team Classic-->
                <article class="team-classic">
                    <a class="team-classic-figure" href="http://localhost:62500/our-team/Charanpreet/"><img src="/assets/images/Team/charanpreet.png" alt="" width="370" height="406" /></a>
                    <div class="team-classic-caption">
                        <h5 class="team-classic-name"><a href="#">Charanpreet Singh Sawney</a></h5>
                        <p class="team-classic-status">Technical Head</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-lg-4">
                <!-- Team Classic-->
                <article class="team-classic">
                    <a class="team-classic-figure" href="http://localhost:62500/our-team/sanjay/"><img src="/assets/images/Team/sanjay.png" alt="" width="370" height="406" /></a>
                    <div class="team-classic-caption">
                        <h5 class="team-classic-name"><a href="#">Sanjay Bundella</a></h5>
                        <p class="team-classic-status">Marketing Head</p>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>
<!-- Team section end -->
<!-- Page Header End -->
@Html.GetGridHtml(Model, "homeContent", "AdbaLayout")