@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var site = Model.Root();

    var logo = site.Value<IPublishedContent>("headerLogo");
    <header class="section page-header">
        <!-- RD Navbar Start -->
        <div class="rd-navbar-wrap rd-navbar-modern-wrap">
            <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                @if (logo != null)
                                {
                                    <a class="brand" href="/">
                                        <img src="@logo.Url" class="logo-sticky" alt="@logo.Name" title="@logo.Name">
                                    </a>
                                }
                            </div>
                        </div>
                        @Html.Partial("HeaderMenu")
                    </div>
                </div>
            </nav>
        </div>
        <!-- RD Navbar End -->
    </header>
}